@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900,900i');


.container {
    width: 1500px;
    margin: 0 auto;
    background-color: #f8f8f8;
    font-family: 'Raleway';
}

.slider {
    background-color: #abeafa;
    width: 1500px;
    height: 700px;
}

.header .logo {
    display: block;
    width: 125px;
    height: 111px;
    float: left;
    margin-left: 234px;
    margin-top: 24px;
    background-image: url(../Images/logo.png);
}

.header .icons {
    width: 120px;
    height: 16px;
    background-color: #abeafa;
    float: right;
    margin-top: 50px;
    margin-right: 229px;
}

.header .icons a {
    display: block;
    text-decoration: none;
}

.icons .fa {
    color: white;
}

.icons .fa:hover {
    color: darkblue;
    transform: scale(1.2);
}

.icons .google {
    float: left;
    width: 16px;
    height: 16px;
}

.icons .tumblr {
    float: left;
}

.footer .icons .rss {
    float: left;
    margin-right: 0px;
}

.icons .facebook {
    float: left;
    width: 8px;
    height: 16px;
    margin-right: 15px;
}

.icons .twitter {
    float: left;
    width: 16px;
    height: 14px;
    margin-right: 11px;
}

.icons .youtube {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.icons .pinterest {
    float: left;
    width: 14px;
    height: 16px;
    margin-right: 12px;
}

.icons .insta {
    float: left;
    width: 16px;
    height: 16px;
}

.welcome {
    clear: left;
    float: left;
    color: #333333;
    background-color: #fff51f;
    width: 270px;
    height: 300px;
    margin-left: 165px;
    margin-top: 201px;
    padding: 82px 25px 0;
    box-sizing: border-box;
    text-align: left;
    font-weight: 700;
}

.welcome h3 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 24px;
    margin-top: 0;
}

.welcome p {
    font-size: 18px;
    line-height: 20px;
}

.title_slide {
    float: right;
    color: #ffff00;
    width: 313px;
    height: 169px;
    margin-right: 274px;
    margin-top: 108px;
}

.title_slide h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.title_slide p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 0;
}

.buy_now {
    display: block;
    clear: right;
    float: right;
    background-color: #fff51f;
    width: 124px;
    height: 49px;
    margin-top: 62px;
    margin-right: 460px;
    text-decoration: none;
    padding-top: 16px;
    padding-left: 28px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px black;
    border-radius: 15px;
    transition: background 0.5s;
}

.buy_now span {
    display: inline-block;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    font-weight: 800;
    text-align: left;
}

.buy_now:hover {
    background-color: #ffc51f;
}

.buy_now:active {
    position: relative;
    top: 3px;
    box-shadow: none;
}

.menu {
    position: relative;
    float: left;
    width: 270px;
    margin-left: 165px;
    margin-top: -19px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.menu .title {
    background-color: #333333;
    width: 270px;
    height: 66px;
    padding-top: 32px;
    box-sizing: border-box;
    padding-left: 42px;
}

.menu .title span {
    display: block;
    height: 10px;
    width: 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    text-align: left;
}

.menu .body {
    background-color: #26d2fc;
    width: 270px;
    padding-top: 19px;
    padding-bottom: 21px;
}

.menu .body>ul {
    list-style-type: none;
}

.menu .body .main_menu>li>a {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 42px;
}

.menu .body>ul>li:hover>a {
    color: #ffffff;
    background-color: #333333;
}

.menu .sub_menu {
    z-index: 2;
    display: none;
    box-sizing: border-box;
    position: absolute;
    width: 155px;
    margin-left: 270px;
    margin-top: -36px;
    background-color: #75e3fe;
    list-style-type: square;
}

.menu .body .sub_menu li {
    margin-left: 32px;
}

.menu .body .sub_menu>li a {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu .body .sub_menu>li:hover>a:after {
    content: url(../Images/arrow_list.png);
    float: right;
    margin-top: 2px;
}

.main_menu .next_sub:hover .sub_menu{
    display:block;
}

.menu .sub_sub_menu {
    display: none;
    position: absolute;
    margin-left: 123px;
    margin-top: -36px;
    width: 165px;
    background-color: #81e6ff;
    list-style-type: square;
}

.menu .sub_sub_menu li:hover a {
    text-decoration: underline;
}

.main_menu .next_sub_sub:hover .sub_sub_menu{
    display:block;
}

.item {
    transition: transform 0.5s;
}

.item:hover {
    box-shadow: 0 0 10px blue;
    transform: scale(1.1);
}

.new_products .new,
.hot {
    position: relative;
    z-index: 1;
}

.new_products {
    float: right;
    background-color: #f8f8f8;
    width: 870px;
    margin-top: -19px;
    margin-right: 165px;
    font-family: 'Roboto';
}

.new .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 60px solid red;
    border-bottom: 60px solid transparent;
    margin-left: 200px;
    margin-top: -10px;
}

.new .triangle span {
    display: block;
    margin-left: 27px;
    margin-top: 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
    text-align: right;
}

.hot .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 60px solid yellow;
    border-bottom: 60px solid transparent;
    margin-left: 200px;
    margin-top: -10px;
}

.hot .triangle span {
    display: block;
    margin-left: 27px;
    margin-top: 12px;
    color: #000000;
    font-size: 12px;
    font-weight: 900;
    text-align: right;
}

.new_products .title {
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    text-transform: uppercase;
    margin-top: 31px;
    margin-left: 25px;
    width: 175px;
}

.new_products .first_row .item {
    margin-top: 31px;
}

.new_products .second_row .item {
    margin-top: 30px;
}

.new_products .item {
    float: left;
    background-color: #ffffff;
    text-decoration: none;
    width: 270px;
    height: 320px;
    margin-right: 30px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 900;
    font-style: italic;
}

.new_products .right {
    margin-right: 0px;
}

.new_products .item .image {
    background-color: #eaeaea;
    width: 250px;
    height: 235px;
}

.new_products .item .item_name {
    display: inline-block;
    float: left;
    color: #333333;
    font-size: 14px;
    line-height: 18.012px;
    text-align: left;
    width: 135px;
    margin-top: 19px;
    margin-left: 16px;
}

.new_products .item .item_price {
    color: #333333;
    font-size: 18px;
    text-align: right;
    margin-top: 22px;
    margin-left: 180px;
    width: 69px;
}

.new_products .right .item_price {
    color: #333333;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    text-align: right;
    margin-top: 22px;
    margin-left: 160px;
    width: 69px;
}

.new_products .item .prev_item_price {
    color: #e24602;
    font-size: 14px;
    text-align: right;
    width: 64px;
    float: right;
    margin-top: 0px;
    text-decoration: line-through;
}

.aside {
    clear: left;
    float: left;
    background-color: #e0e0e0;
    width: 270px;
    height: 300px;
    margin-top: 30px;
    margin-left: 165px;
}

.aside div {
    margin-top: 129px;
    margin-left: 142px;
    width: 109px;
    height: 98px;
    color: #333333;
    font-size: 36px;
    font-weight: 800;
    line-height: 34px;
    text-align: left;
    text-transform: uppercase;
}

.top_products {
    float: right;
    margin-top: 51px;
    margin-right: 165px;
    background-color: #f8f8f8;
    width: 870px;
    height: 400px;
    font-family: 'Roboto';
}

.top_products .title {
    color: #717171;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    text-transform: uppercase;
    margin-top: 31px;
    margin-left: 28px;
    width: 175px;
}

.top_products .item {
    float: left;
    background-color: #ffffff;
    text-decoration: none;
    width: 270px;
    height: 320px;
    margin-top: 33px;
    margin-right: 30px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 900;
    font-style: italic;
}

.top_products .right {
    margin-right: 0px;
}

.top_products .item .image {
    background-color: #eaeaea;
    width: 250px;
    height: 235px;
}

.top_products .item .item_name {
    display: inline-block;
    float: left;
    text-transform: uppercase;
    color: #333333;
    font-size: 14px;
    line-height: 18.012px;
    text-align: left;
    width: 135px;
    margin-top: 19px;
    margin-left: 16px;
}

.top_products .item .item_price {
    color: #333333;
    font-size: 18px;
    text-align: right;
    margin-top: 22px;
    margin-left: 180px;
    width: 69px;
}

.top_products .left .item_price {
    color: #333333;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    text-align: right;
    margin-top: 22px;
    margin-left: 160px;
    width: 69px;
}

.top_products .item .prev_item_price {
    color: #e24602;
    font-size: 14px;
    text-align: right;
    width: 64px;
    float: right;
    margin-top: 0px;
    margin-right: 10px;
    text-decoration: line-through;
}

.sale_products {
    float: right;
    margin-top: 50px;
    margin-right: 165px;
    background-color: #f8f8f8;
    width: 870px;
    height: 400px;
    font-family: 'Roboto';
}

.sale_products .title {
    color: #717171;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    text-transform: uppercase;
    margin-top: 31px;
    margin-left: 28px;
    width: 195px;
}

.sale_products .item {
    float: left;
    background-color: #ffffff;
    text-decoration: none;
    width: 270px;
    height: 320px;
    margin-top: 33px;
    margin-right: 30px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 900;
    font-style: italic;
}

.sale_products .right {
    margin-right: 0px;
}

.sale_products .item .image {
    background-color: #eaeaea;
    width: 250px;
    height: 235px;
}

.sale_products .item .item_name {
    display: inline-block;
    float: left;
    text-transform: uppercase;
    color: #333333;
    font-size: 14px;
    line-height: 18.012px;
    text-align: left;
    width: 160px;
    margin-top: 19px;
    margin-left: 16px;
}

.sale_products .item .item_price {
    color: #333333;
    font-size: 18px;
    text-align: right;
    margin-top: 22px;
    margin-left: 180px;
    width: 69px;
}

.sale_products .item .prev_item_price {
    color: #e24602;
    font-size: 14px;
    text-align: right;
    width: 64px;
    float: right;
    margin-top: 0px;
    text-decoration: line-through;
}

.brand {
    background-color: #ffffff;
    width: 1170px;
    height: 160px;
    clear: both;
    float: left;
    margin-top: 30px;
    margin-left: 165px;
}

.brand img {
    margin-left: 14px;
    margin-top: 70px;
    width: 1142px;
    height: 26px;
}

.insta_feed {
    clear: both;
    float: left;
    background-color: #eaeaea;
    width: 1170px;
    height: 350px;
    margin-left: 165px;
    font-family: 'Roboto';
    color: #333333;
}

.insta_feed .title img {
    margin-top: 51px;
    margin-left: 449px;
    float: left;
}

.insta_feed .title div {
    display: inline-block;
    width: 310px;
    height: 22px;
    margin-top: 54px;
    margin-left: 8px;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
}

.insta_feed .title .surfhouse {
    display: inline-block;
    font-size: 21px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
}

.insta_feed .images img {
    float: left;
    margin-top: 29px;
    margin-right: 12px;
    transition: transform 0.5s;
}

.bg_images img {
    transition: transform 0.5s;
}

.insta_feed .images img:hover {
    outline: 3px solid blue;
    transform: scale(1.1);
}

.insta_feed .images .last {
    margin-right: 0px;
}

.bg_images {
    clear: both;
    float: left;
    margin-left: 165px;
}

.bg_images a {
    float: left;
}

.bg_images a:hover img{
    transform: rotate(30deg);
}

.bg_images .f_background {
    background-color: #3b5997;
    width: 390px;
    height: 150px;
}

.bg_images .f_icon {
    margin-left: 180px;
    margin-top: 44px;
}

.bg_images .tw_background {
    background-color: #3fccfd;
    width: 390px;
    height: 150px;
}

.bg_images .tw_icon {
    margin-left: 163px;
    margin-top: 49px;
}

.bg_images .p_background {
    background-color: #cb2027;
    width: 390px;
    height: 150px;
}

.bg_images .p_icon {
    margin-left: 163px;
    margin-top: 43px;
}

.footer {
    clear: both;
    background-color: #373737;
    position: relative;
    width: 1500px;
    height: 348px;
    font-family: 'Roboto';
}

.footer .category {
    display: inline-block;
    float: left;
    text-align: left;
    margin-left: 192px;
    margin-top: 75px;
}

.footer .category .title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway';
}

.footer .category .body {
    margin-top: 28px;
    width: 84px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.footer .category .body a {
    text-decoration: none;
    color: #ffffff;
}

.footer .category .body a:hover {
    text-decoration: underline;
}

.footer .our_account {
    display: inline-block;
    float: left;
    text-align: left;
    margin-left: 114px;
    margin-top: 77px;
}

.footer .our_account .title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway';
}

.footer .our_account .body {
    margin-top: 30px;
    width: 113px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.footer .our_account .body a {
    text-decoration: none;
    color: #ffffff;
}

.footer .our_account .body a:hover {
    text-decoration: underline;
}

.footer .our_support {
    display: inline-block;
    float: left;
    text-align: left;
    margin-left: 87px;
    margin-top: 77px;
}

.footer .our_support .title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway';
}

.footer .our_support .body {
    margin-top: 27px;
    width: 113px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.footer .our_support .body a {
    text-decoration: none;
    color: #ffffff;
}

.footer .our_support .body a:hover {
    text-decoration: underline;
}

.footer .Newsletter {
    display: inline-block;
    float: left;
    text-align: left;
    margin-left: 79px;
    margin-top: 77px;
    font-size: 12px;
}

.footer .Newsletter .title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway';
}

.footer .Newsletter .body {
    margin-top: 8px;
    width: 195px;
    color: #f8f8f8;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
}

.footer .Newsletter .email input[type="text"] {
    background-color: #fff51f;
    border: 0;
    float: left;
    width: 180px;
    height: 30px;
    margin-top: 20px;
    padding: 0px 5px;
}

.footer .Newsletter .email input[type="submit"] {
    background-color: #000000;
    float: left;
    margin-top: 20px;
    width: 71px;
    height: 30px;
    border: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 100;
    line-height: 21px;
    text-align: center;
}

.footer .Newsletter .email input[type="text"]:focus {
    box-shadow: 0 0 0px black;
}

.footer .pay_images {
    position: absolute;
    margin-left: 770px;
    margin-top: 215px;
}

.footer .pay_images img {
    float: left;
    margin-right: 10px;
}

.footer .pay_images .last {
    margin-right: 0px;
}

.footer .about_us {
    display: inline-block;
    float: left;
    text-align: left;
    margin-left: 54px;
    margin-top: 77px;
}

.footer .about_us .title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway';
}

.footer .about_us .body {
    margin-top: 7px;
    width: 232px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
}

.footer .contacts {
    position: absolute;
    margin-left: 1086px;
    margin-top: 196px;
    text-align: left;
    width: 200px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.footer .contacts a {
    text-decoration: none;
    color: #faef03;
}

.footer .icons {
    width: 175px;
    height: 15px;
    clear: right;
    float: right;
    margin-right: 186px;
    margin-top: 19px;
}

.footer .icons a {
    display: block;
    margin-right: 10px;
}


.footer .copyright {
    position: absolute;
    background-color: #333333;
    width: 1500px;
    height: 47px;
    margin-top: 301px;
}

.footer .copyright .rights_reserved {
    color: #dad9d9;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    width: 409px;
    margin-top: 16px;
    margin-left: 189px;
    float: left;
}

.footer .copyright .rights_reserved .copy {
    font-size: 13px;
}